:root {
    --primary-blue: #223ad2;
    --text-color: #333333;
    --observation: #757575;
    --purple: #7b68ee;
    --block-bg: #f5f5f5;
    --side-bg: #fff9f3;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}
  